<ion-view view-title="Dashboard">
<ion-content class="home-content">
<div class="col align-center tab-header">
	<div class="circular"></div>
	<b>Mohd Mazlan</b><br/><p>UI/UX Developer</p>
</div>
<div class="list card">
	<div class="item item-icon-left ion-compose">
		About me
		<div class="item item-body">
			<p class="p-home">
				Passionate Front-end developer with over 2 year of experience. Recently more focus on developing mobile hybrid apps since everyone using mobile app now, so I need to follow the flow.
			</p>
			<p class="p-home">
				My goal is to write clean, highest performance and test covered code in order to provide smooth and bugs free software.
				Back in days I was working a lot with pure Javascript, Later jQuery and jQuery Mobile and of course other front-end framework available out there.
				But now then I have started to use AngularJS and of course Ionic Framework. Using and creating web components is the future web development, that is where I am heading.
			</p>
			
			<p class="p-home">
				This Portfolio app is build using Ionic framework. Development time of hybrid app has decreased from months to weeks.
				Back then (when I learn java) there was no such tools and it usually took couple months to build app, because you needed to build your own components that you would get out of the box if you would in native apps development.
			</p>
			
			<p class="p-home">
				Good UX design makes efficient. You can have all the functionality that user needs and more but if your app is hard to understand and to use, then it will be useless.
				My new field of study is how UX design is done, what methods is used in order to achieve it and that is is measure to evaluate it.
				And I believe, with my efford, I can go much further and improve my skills to meet industry needs.
			</p>
		</div>
	</div>
</div>
<div class="list card">
	
	<div class="item item-body">
		<blockquote>
			What you do today can improve all your tomorrows.!
			<cite>Ralph Marston</cite>
		</blockquote>
	</div>
	
</div>
</div>
</div>
</ion-content>
</ion-view>